/* header */
header {
  margin: 0;
  background: var(--header-background);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25em;
  padding: 1em;
}

nav {
  text-align: right;
}

nav a {
  color: var(--light-blue);
}

h2 {
  margin: 0.5em 0;
}

/* light/dark mode */
#dark-light-toggle {
  display: inline-block;
  cursor: pointer;
}

#dark-light-toggle i {
  font-style: normal;
}

#dark-light-toggle #dark {
  display: none;
}

#dark-light-toggle.dark #dark {
  display: block;
}

#dark-light-toggle.dark #light {
  display: none;
}

/* footer */
footer {
  padding-top: 0;
  text-align: center;
}
